*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.part1{
    padding: 20px 140px;
}

/* marque design */
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}
.marquee-text {
    display: inline-block;
    color: 	#FF4500;
    font-weight: 1000;
    font-size: 20px;
    animation: scroll 10s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* header section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
}
nav li {
    list-style-type: none;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}
nav button{
    padding: 10px 60.5px;
    background-color: orange;
    border-radius: 12px;
    border: none;
}
nav button a{
    color: white;
    font-size: 20px;
    font-weight: 600;
} 
.navmobile{
    display: none;
}
hr{
    display: none;
}

/* banner section */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.banner button{
    border-radius: 12px;
    border: none;
    padding: 10px 47px;
    background-color: black;
}
.banner button a{
    color: white;
    text-decoration: none;
}
.bannermobile{
    display: none;
}

/* standard curriculum section */
.curriculum{
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.curriculum .container{
    display: flex;
    gap: 28px;
    justify-content: space-between;
}
.container .card, .card1, .card2{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 19px;
}
.container .card1{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
.container .card2{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.container a{
    text-decoration: none;
}



/* stories section */
.stories{
    background-color: #85FFBD;
    padding: 20px 140px;
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.stories button{
    border-radius: 48px;
    background-color: #95B226;
    padding: 10px 18px;
    border: none;
    position: relative;
    top: -20px;
    left: 20px;
}

.storeis-content{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    gap: 18px;
}
.stories .right-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* width: 53%; */
    /* overflow: hidden; */
    grid-gap: 18px;
}
.stories .right-content img{
    width: 100%;
}
.stories .right-content p{
    margin-bottom: 18px;
}
.stories .left-content{
    width: 47%;
    overflow: hidden;
}
.stories .view button{
    margin-top: 80px;
    margin-bottom: 60px;
    border-radius: 12px;
    background-color: black;
}
.stories .view button a{
    color: white;
    text-decoration: none;
}

.storeis-content .cell1, .cell2, .cell3, .cell4, .cell5{
    background-color: white;
    border-radius: 16px;
    border: none;
    padding-bottom: 20px;
}
.storiesmb{
    display: none;
}


/* footer section */
footer{
    background-color: #d893bd;
    padding: 80px 140px 100px 140px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}
footer ul li{
    list-style-type: none;
    margin-bottom: 20px;
}
footer ul li a{
    text-decoration: none;
    color: white;
}
footer img{
    margin-right: 10px;
}
footer .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}
footer .logo-section{
    width: 33%;
}

@media screen and (max-width: 576px) {
    .part1{
        padding: 0px;
        margin: 0px;
    }
    /* navber section */
    .navpc{
        display: none;
    }
    .navmobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navmobile{
        /* margin: 12px 16px; */
        padding: 12px 16px;
    }
    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
      }
      
      .menu-icon .bar {
        background-color: #333;
        height: 4px;
        width: 100%;
      }   
      hr{
        display: block;
      } 

      /* banner section */

      .banner{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .banner .container, img{
        width: 100%;
        text-align: center;
    }


    /* standard curriculum section */
    .curriculum{
        padding-left: 16px;
        padding-right: 16px;
        background-image: url(../assets/bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .curriculum .container{
        display: flex;
        flex-direction: column;
        gap: 28px;
        justify-content: space-between;
    }
    .arrow{
        display: none;
    }

    /* stories */
    .storiespc{
        display: none;
    }
    .storiesmb{
        display: block;
        background-image: url(../assets/bg2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0 16px;
    }
    .storiesmb .content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 18px;
    }

    .storiesmb button{
        border-radius: 48px;
        background-color: #95B226;
        padding: 10px 18px;
        border: none;
        position: relative;
        top: -15px;
    }
    
    .storiesmb .view button{
        margin-top: 50px;
        margin-bottom: 40px;
        border-radius: 12px;
        background-color: black;
    }
    .storiesmb .view button a{
        color: white;
        text-decoration: none;
    }
    
    .storeis-content .cell1, .cell2, .cell3, .cell4, .cell5{
        background-color: white;
        border-radius: 16px;
        border: none;
    }


    /* footer section */
    footer{
        padding: 0px;
        margin: 0px;
        padding-top: 50px;
        padding-left: 20px;
        background-color: #d893bd;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    footer .logo{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 35px;
    }
    footer .img{
        display: flex;
        width: 50%;
    }
    footer .logo-section{
        width: 100%;
        margin-bottom: 32px;
    }
    footer .logo{
        width: 33%;
    }

}